@model FiberConnectionClient.Models.Employee
@{
    Layout = "_EmployeeLayout";
}
@{
    ViewData["Title"] = "ProfileEdit";
}
<style>
    .c1 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>
<br />
<br />
<br />
<div class="card border-light crd bg-dark mb-3 c1" style="max-width: 30rem;">
    <div class="card-body">
        <div class="login-box">
            <h2>Profile Edit</h2>
            <form id="f1" asp-action="ProfileEdit">
                <div class="user-box">
                    <input asp-for="EmployeeId" hidden>
                </div>
                <div class="user-box">
                    <input asp-for="Name" required>
                    <label>Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="PhoneNumber" required>
                    <label>Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Age" required>
                    <label>Age</label>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Address" required>
                    <label>Address</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="WorkLocation" required>
                    <label>Work Location</label>
                    <span asp-validation-for="WorkLocation" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="EmployeeMail" required>
                    <label>Mail ID</label>
                    <span asp-validation-for="EmployeeMail" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="EmployeePassword" hidden required>
                </div>
                <a href="#" onclick="document.getElementById('f1').submit();">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Update
                </a>
            </form>
        </div>
    </div>
</div>


