@model FiberConnectionClient.Models.Offer

@{
    ViewData["Title"] = "UpdateOffer";
    Layout = "_AdminLayout";
}

<style>
    .c1 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>
<br />
<br />
<br />
<div class="card crd bg-dark mb-3 c1" style="max-width: 30rem;">
    <div class="card-body">
        <div class="login-box">
            <h2>Add Offer</h2>
            <form id="f1" asp-action="UpdateOffer">
                <div class="user-box">
                    <input asp-for="OfferId" required>
                    <label>Id</label>
                    <span asp-validation-for="OfferId" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Voot" required>
                    <label>Voot</label>
                    <span asp-validation-for="Voot" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Lionplay" required>
                    <label>Lionplay</label>
                    <span asp-validation-for="Lionplay" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Hungamaplay" required>
                    <label>Hungamaplay</label>
                    <span asp-validation-for="Hungamaplay" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Ultra" required>
                    <label>Ultra</label>
                    <span asp-validation-for="Ultra" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Hotstar" required>
                    <label>Hotstar</label>
                    <span asp-validation-for="Hotstar" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Netflix" required>
                    <label>Netflix</label>
                    <span asp-validation-for="Netflix" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="Others" required>
                    <label>Others</label>
                    <span asp-validation-for="Others" class="text-danger"></span>
                </div>
                <a href="#" onclick="document.getElementById('f1').submit();">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Add Offer
                </a>
                <a asp-action="AdminControl" asp-controller="Admin">
                    Back
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
