@model FiberConnectionClient.Models.FiberPlan

@{
    ViewData["Title"] = "AdminControlDeletePlan";
}
@{
    Layout = "_AdminLayout";
}
<style>
    .tcolor {
        color: #03e9f4;
    }

    .c1 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

    .text-n {
        color: #8a6ea7;
    }
</style>
<br />
<div class="flash">
    <h2>Are you sure you want to delete this Plan ?</h2>
</div>
<div class="card crd c1 bg-dark login-box" style="max-width: 30rem;">
    <h2>FiberPlan</h2>
    <hr />
    <div>
        <div class="card-body text-center">
            <div class="text-center text-n">
                Name : <span class="tcolor">@Html.DisplayFor(model => model.PlanName)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Plan Price : <span class="tcolor">@Html.DisplayFor(model => model.PlanPrice)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Plan Speed : <span class="tcolor">@Html.DisplayFor(model => model.PlanSpeed)</span>
            </div>
            <br />
            <div class="text-center text-n">
                Image : <span class="tcolor">@Html.DisplayFor(model => model.Image)</span>
            </div>
            <br />


            <form asp-action="AdminControlDeletePlan" id="f1" class="c1 flash">
                <input type="hidden" asp-for="PlanId" />
                <a href="#" onclick="document.getElementById('f1').submit();">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Delete
                </a>
                <a asp-action="AdminControlPlanDetails">Back</a>
            </form>
        </div>
    </div>
</div>
