@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Data = HttpContextAccessor.HttpContext.Request.Cookies["Username"];
    ViewBag.Token = HttpContextAccessor.HttpContext.Request.Cookies["Token"];
}

<div class="text-center">
    @if (@ViewBag.Token != null)
    {
    <h1 class="display-4">Welcome @ViewBag.Data</h1>
    }
    else
    { 
        <h1 class="display-4">Welcome To FiberFlix</h1>
    }
    <p>Get Your Wifi Connection Here</p>
</div>
