@model FiberConnectionClient.Models.Customer

@{
    ViewData["Title"] = "ProfileEdit";
}
<style>
    .c1 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>
<br />
<br />
<br />
<div class="card border-light crd bg-dark mb-3 c1" style="max-width: 30rem;">
    <div class="card-body">
        <div class="login-box">
            <h2>Profile Edit</h2>
            <form id="f1" asp-action="ProfileEdit">
                <div class="user-box">
                    <input asp-for="CustomerId" hidden>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerName" required>
                    <label>Name</label>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerPhoneNumber" required>
                    <label>Phone Number</label>
                    <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerAadharNo" required>
                    <label>Aadhar Number</label>
                    <span asp-validation-for="CustomerAadharNo" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerAddress" required>
                    <label>Address</label>
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="DateOfBirth" required>
                    <label>DOB</label>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerMailId" required>
                    <label>Mail ID</label>
                    <span asp-validation-for="CustomerMailId" class="text-danger"></span>
                </div>
                <div class="user-box">
                    <input asp-for="CustomerPassword" hidden required>
                </div>
                <a href="#" onclick="document.getElementById('f1').submit();">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Update
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
